<div class="juxtapose-container juxtapose"{%
  if options.starting_position|length %} data-startingposition="{{ options.starting_position }}%"{% endif %}{%
  if options.show_labels|length %} data-showlabels="{{ options.show_labels }}"{% endif %}{%
  if options.animate|length %} data-animate="{{ options.animate }}"{% endif %}>
  {% for image in images %}
    <img class="juxtapose-item" src="{{ image.url }}" alt="{{ image.alt }}" data-label="{{ image.label }}">
  {% endfor %}
</div>
